<hr />

<!-- 地眼 -->
<div><strong>地眼(Slow)</strong>实时消息：</div>
<div id="binft"></div>
<script src="../js/Slow.js"></script>

<!-- 验证密码 -->
<script src="../js/verify.js"></script>

<hr />

<!-- 清除密码 -->
<button id="clear" class="btn btn-primary" onclick="clearPassword()">
    清除密码
</button>
